{% extends "base.html" %}
{% block content %}
 <h1>{{user}}</h1>

 <a href="{% url 'pass_change' %}" class="btn btn-outline-success" type="submit">old password change</a>
 <a href="{% url 'pass' %}" class="btn btn-outline-success" type="submit">old password change with out old passwrod</a>
 {% load crispy_forms_tags %}
<form action="" method='post' class="w-50 m-auto" novalidate>
    {% csrf_token %}
   <!--{{form | crispy}}-->
   {% for fm in form %}
     {{fm.label_tag}}
     {{fm}}
     {{fm.errors | striptags}}
   {% endfor %}
   <button type="submit" class="btn  btn-primary">Submit</button>
</form>
{% endblock content %}
 
