.grap-6{
  gap:3.5em;
}
.na-col{
    background-color:#ACECE8 ;
}
.btn-col{
    background-color:#092D43 ;
}
.ba_col{
    background-color: #18736d;
}
.h1_ba{
    font-size: 90px;
}
.b_img_p{
    padding: 0px 95px;
}
.b_p{
    color: black;
}
.pr_col{
    background-color:#cef1ef ;
}