.search-box{
    padding: 50px;
    text-align: center;
}
.search-input{
    padding: 20px 20px;
}
#search-btn{
    padding: 20px 20px;
    border: none;
    background-color: rgb(94, 94, 247);
    font-size: 22px;
    color: white;

}