{% extends "base.html" %}
{% block content %}
    {% load crispy_forms_tags  %}
    <form action="" class='w-50 m-auto' novalidate method='post' >
        {% csrf_token %}
        {% if form.non_field_errors %}
             {% for er in form.non_field_errors %}
               {{er}}
             {% endfor %}
        {% endif %}
       <!-- {{form | crispy}}-->
       {% for fm in form %}
         {{fm.label_tag}}
         {{fm}}
         {{fm.errors | striptags}}
       {% endfor %} 
       <br>
      <button type="submit" class="btn btn-primary">submit</button>
    </form>
  {% endblock content %}