{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <button class="btn btn-warning mt-3 text-decoration-none"><a href="{% url 'user_data' %}">Change User Data</a></button>

 <div class="card_contener">
    <div class="header">
        <div class="col row-cols-2 btn btn-warning mt-4" style="margin-left:89px">Total car Found: {{data | length }}</div>
    </div>
    <div class="body container mt-4 " style="margin-left:89px">
      <div class="row gap-2 text-center">
            {% for fd in data %}
            <div class="card" style="width: 18rem;">
                <img src="{{fd.car_img.url}}" class="card-img-top mt-2" alt="car_pic">
                <div class="card-body">
                  <h5 class="card-title">{{fd.Car_Name}}</h5>
                  <p>Price{{fd.Car_Price}}</p>
                  <p>Brand_Name:{{fd.Car_Brand_Name}}</p>
                  <a href="{% url 'details' id=fd.id %}" class="btn btn-primary">Views Details</a>
                </div>
              </div>
            {% endfor %}
      </div> 
    </div>
</div>
{% endblock content %}