{% extends "base.html" %}

{% block content %}
<table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Musician Name</th>
      <th scope="col">Email</th>
      <th scope="col">Album Rating</th>
      <th scope="col">Instrument Type</th>
      <th scope="col">Album Name</th>
      <th scope="col">Release Date</th>
      <th scope="col">Actions</th>
    </tr>
    <tbody>
        {% for alb in  data  %}
        <tr>
            <td>{{alb.id}}</td>
            <td><a class="btn" href="{% url 'edit_musician' id=alb.musician.id %}">{{alb.musician.First_name}} {{alb.musician.Last_name}}</a></td>
            <td>{{alb.musician.Email}}</td>
            <td>{{alb.Rating_between}}</td>
            <td>{{alb.musician.Instrument_Type}}</td>
            <td>{{alb.Album_Name}}</td>
            <td>{{alb.Album_release_date | date:"d-M-y" }}</td>
            <td>
                <a class="btn" href="{% url 'edit_album' id=alb.id %}">Edite</a>
                <a class="btn" href="{% url 'delete_album' id=alb.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        
      </tbody>
  </thead>
  </table>
{% endblock content %}